* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* set background color to d9dcd6 or white*/
body {
    background-color: #d9dcd6;
}

/* make header blue with white font */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header font inline and font size 48px */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* horiseon text 2 different colours seo letters to be color d9dcd6 */
.header h1 .seo {
    color: #d9dcd6;
}

/* header links to be on right side font size 20px with multiple fonts to select */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header links not to appear as a list */
.header section ul {
    list-style-type: none;
}

/* Header links to display side by side */
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* font to be white */
a {
    color: #ffffff;
    text-decoration: none;
}

/* image display to cover the full background and to display in the center of the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* this section of content to take up 75% of display page
display inline so it only takes up the space that is needed */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* all p font to be 18px */
p {
    font-size: 18px;
}

/* search engine block background colour to be blue font to be white
with a margin of 20px between blocks */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 325px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #03618d;
    color: #ffffff;
}

/* image inside search engine block to be 200px in size */
.search-engine-optimization img {
    max-height: 200px;
}

/* header font to be 36px with margin on the bottom to be 20px */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* image in search engine block and social media block to float left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* online reputation block background colour to be blue font to be white
with a margin of 20px between blocks */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 325px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #03618d;
    color: #ffffff;
}

/* image inside online reputation block to be 200px in size */
.online-reputation-management img {
    max-height: 200px;
}

/* header font to be 36px with margin on the bottom of 20px*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* image in the online reputation block to float to the right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* social media block background colour to be blue font to be white
with a margin of 20px between blocks */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 325px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #03618d;
    color: #ffffff;
}

/* image inside social media block to be 200px in size */
.social-media-marketing img {
    max-height: 200px;
}

/* header font to be 36px with margin on the bottom of 20px*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* benefits block to take up remaining 25% of page in a vertical rectangle shape
background color blue and block floats on the right hand side of the page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #006b9c;
}

/* font white */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* header to appear in center with margin of 10px between header and image */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* img display block so it stacks on top of text with a size of 150px and margin of 10px */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* font white */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* header to appear in center with margin of 10px between header and image */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* img display block so it stacks on top of text with a size of 150px and margin of 10px */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* font white */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* header to appear in center with margin of 10px between header and image */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* img display block so it stacks on top of text with a size of 150px and margin of 10px */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 30px padding around footer text to appear in center with no background color */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer font size to be 20px */
.footer h4 {
    font-size: 20px;
}
